.body{
    background-color: rgb(163, 163, 163);
}
.had{
    display: flex;
    justify-content: space-between;
    margin: 80px 120px;
}
.inp{
    width: 180px;
    height: 5vh;
    background-color: rgb(190, 187, 175);
    border-radius: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 4px 4px;
    color: rgb(162, 133, 64);
}
.btn{
    color: white;
    background-color: blue;
    width: 180px;
    font-size: 20px;
    height: 6vh;
    border-radius: 10px;
    border: none;
}
.dialogadd{
    position: absolute;
    top: -530px;
    border: none;
    background-color: rgb(227, 227, 227);

}
.inp1{
    border: none;
    padding: 10px 20px ;
    border-radius: 10px;
    margin-right: 20px;
    width: 240px;
    background-color: rgb(88, 194, 224);
    color: rgb(209, 102, 63);
}
.inp2{
    border: none;
    padding: 10px 20px ;
     border-radius: 10px;
     width: 240px;
     background-color: rgb(88, 194, 224);
    color: rgb(209, 102, 63);
}
.ADD{
    font-size: 20px;
    border: none;
    background-color: rgb(227, 227, 227);
    margin-left: 20px;
    color: rgb(255, 205, 79);
}
.tablell{
    width: 86%;
    border: 2px solid gray;
    margin: auto;
    padding: 20px 20px;
    /* background-color: rgb(231, 231, 231); */
    border-radius: 30px;
}

.tableoverflow{
    overflow: auto;
    height: 300px;
    padding: 50px 50px;
}
table{
    width: 100%;
}
tr{
    width: 100%;
    border-bottom: 4px solid rgb(175, 172, 172);
    display: flex;
    justify-content: space-around;
}
th{
    text-align: left;
    width: 10%;
    font-size: 30px;
    padding-left: 16px;
    padding: 20px 0px;
    /* border-bottom: 4px solid rgb(175, 172, 172) */

}


























.div{
    display: flex;
    border-bottom: 4px solid rgb(175, 172, 172);
    padding: 10px;
}
.h1{
    margin-left: 170px;
}
.chek{
    margin-left: 20px;
    width: 20px;
}
.chekk{
    text-decoration: line-through;
    color: red;
}
.status{
    margin-left: 240px;
    padding: 5px 20px;
    border-radius: 10px;
}
.Delete{
    width: 20px;
    height: 20px;
    margin-top: 24px;
    margin-left: 20px;
}
.info{
    width: 20px;
    height: 20px;
    margin-top: 24px;
    margin-left: 200px;
}
.Edit{
    width: 20px;
    height: 20px;
    margin-top: 24px;
    margin-left: 20px;
}
